body {
    width: 100%;
    font-family: 'DejaVu Sans Mono', monospace;
}
nav {
    font-size: 0.9em;
    font-weight: bold;
}
ul {
    list-style: none;
    margin: 0;
}
ul li {
    display: inline-flex;
    margin: 6px 0 0 43px;
    letter-spacing: -1px;
    text-shadow: 0 2px 2px #b8b4b3;
    transition: 0.3s;
    padding: 3px;
  }
ul li:hover {
    /* border-bottom: solid 2px #edbfff; */
    -webkit-box-shadow: 0px 2px 0px 0px rgba(237,191,255,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(237,191,255,1);
    box-shadow: 0px 2px 0px 0px rgba(237,191,255,1);
}
a {
    color: #fff;
    text-decoration: none;
}
#page {
    width: 100%;
    height: auto;
}
.container_slide {
    margin: 30px 0 30px 0;
    position: relative;
}
.banner {
    width: 100%;
    background: url(../image/background-01.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}
header {
    display: flex;
    min-width: 320px;
    padding: 70px 0 70px 0;
}
.logo {
    font-size: 2em;
    font-weight: bold;
    letter-spacing:-2px;
    margin-right: 50px;
    text-shadow: 0 2px 2px #b8b4b3;
}
.logo a:last-child {
    background: repeating-linear-gradient(to top, rgba(52, 38, 59, 1), rgba(114, 79, 129, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:none;
}
.opacity {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.slide_box {
    max-width: 1600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.item_info {
    display: none;
}
.active {
    display: block;
}
.prev, .next{
    flex: auto;
}
.slider {
     flex: 2 1 20%;
}
